.offer_container {
    display: inline-flex;
    /* Center items horizontally */
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #9fa3a7;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    min-width: 300px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    background-color: #ede6d6;
    /* Light beige background */
    /* Add any additional styling you want for the background */

    img {
        max-width: 100%;
        border-radius: 12px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 15px;
        font-size: 1.2rem;
        color: #444;
    }

    button {
        padding: 12px 24px;
        background: linear-gradient(to right, #00b09b, #96c93d);
        /* Dark teal button color */
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background: linear-gradient(to left, #00b09b, #96c93d);
            /* Darken button color on hover */
        }
    }
}