.offers_container_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.offers_row {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
    margin-bottom: 40px;
}

.offer {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #9fa3a7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #ede6d6;
    transition: transform 0.3s ease;

    img {
        max-width: 100%;
        height: 200px;
        border-radius: 12px;
        margin-bottom: 20px;
        object-fit: contain;
    }

    label {
        font-size: 15px;
        color: #444;
    }

    strong {
        margin: 4px 0;
    }
}

.offer:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.offer button {
    margin-top: 10px;
}

.offer button:hover {
    cursor: pointer;
}

.noProperty {
    border: 2px solid #9fa3a7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #ede6d6;
    transition: transform 0.3s ease;
    min-height: 200px;
    max-width: 400px;
    max-height: 600px;
    display: block;
    margin: auto;
    text-align: center;
}

.noProperty label {
    margin-bottom: 30px;
}