.button {
    padding: 12px 24px;
    background: linear-gradient(to right, #048d7d, #589dca);
    color: #fff;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 15px 50px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    scale: 1.1;
}