.button {
    background-color: transparent;
    font-size: 14px;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: none;
    margin: auto;
}

.button:hover {
    transform: scale(1.1);
    transition: 300ms ease-in-out all;
}